[submodule "test_application"]
	path = test_application
	url = https://github.com/cbracco/html5-test-page.git
[submodule "wiki"]
	path = wiki
	url = https://github.com/sajjadhossain/cypressio-examples.wiki.git
